body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;
    padding: 2%;
    text-align: justify;
    z-index: 1;
}

/* @media screen and (min-width: 700px) and (orientation:landscape){

} */

@font-face{
    font-family: CosmicBlaster;
    src: url(CosmicBlaster.ttf);
}

.fonte-quiz{
    font-family: CosmicBlaster;
    font-size:5rem;
}
.fonte-quiz3{
    font-family: CosmicBlaster;
    text-decoration:none;
    color: black;
    font-size: 36px;
}
.fonte-quiz2{
    font-family: CosmicBlaster;
    text-decoration:none;
    color: black;
    
}

.fonte-quiz2:hover{
    font-family: CosmicBlaster;
    text-decoration:none;
    color: white;
}
.fonte-restart{
    font-family: CosmicBlaster;
    text-decoration:none;
    color: black;
    
}
.fonte-restart:hover{
    font-family: CosmicBlaster;
    text-decoration:none;
    color: white;
}
.footer {
    position: fixed;
    bottom:0;
}

.btn-inicial {
    color: #212529;
    background-color: #ffffff;
    border-color: #72145e
}

.btn-inicial:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 0, 61);
    border-color: #ffffff
}
.btn-warning-red {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}
.btn-warning-red:hover {
    color: #212529;
    background-color: #ff0707;
    border-color: #ffc107
}
.custom-radio-warning{
    background-color: #620180
}


.bg-navbar{
    background-color: white;
}

.bg-pagina{
    background-color: #7c0c9e;
}

.opacidade{
    opacity: 0.5;
    background-color: black;
}

/* banner */
.carousel-control-prev{
    background-color: rgba(2, 2, 2, 0.25);
}
.carousel-control-next{
    background-color: rgba(2, 2, 2, 0.25);
}
.bg-caption{
    background-color: rgba(2, 2, 2, 0.600);
}