body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    padding: 2%;
    text-align: justify;
}

@font-face{
    font-family: CosmicBlaster;
    src: url(CosmicBlaster.ttf);
}

.fonte-quiz{
    font-family: CosmicBlaster;
    font-size:5rem;
}